<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-gb" http-equiv="Content-Language" />
<title>Vera Alert</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="masthead">
	Vera-Alert</div>
<div id="top_nav">
</div>
<div id="container">
	<div id="left_col">
	</div>
	<div id="page_content">
		This is a basic holding page for &quot;vera alert&quot; - an Android App for 
		instant alerting for use by the Vera Home Automation system.<br />
		<br />
		Right now, there&#39;s very little to see here, but this is a bit better 
		than it was.<br />
		<br />
		See the App in the Android Marketplace here :
		<a href="https://market.android.com/details?id=com.fawepark.veralert&amp;feature=search_result">
		https://market.android.com/details?id=com.fawepark.veralert&amp;feature=search_result</a><br />
		<br />
		See it running on youtube here: </div>
		
		<iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/GVMuI1aKhyg" frameborder="0" allowfullscreen></iframe></div>
<div id="footer">
	(c) 2011 Richard Green</div>

</body>

</html>
